.home {
  width: 100%;
  background: #252b42;
}
.home .home__title h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 150px !important;
}

.home .home__title p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.home button {
  margin-bottom: 150px !important;
  background: transparent;
  padding: 10px 35px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 20px;
  transition: 0.5s;
}
.home button:hover {
  background: #23a4ed;
  border: none;
  transform: scale(1.1);
}

@media screen and (max-width: 460px) {
  .home button {
    margin: 10px 40px !important;
  }
}
